body{
    background-color: aquamarine;
    border: black; 
    width: 600px;
    height: 200px;   
}

.styled{
    text-align: center;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

h1{
    color: blue;
    font-family: franklin gothic medium;
    text-align: center;
}
h5{
    color: darkblue;
    font-family: fantasy;
    text-align: center;
}
/*
p{
    font-family: verdana;
    font-size: 20px;
}

div{
   position: center;
   height: 50px;
   border: 5px solid blue;
   padding: 25px;
   margin: 25px; 
   border-radius: 3mm;
}
*/